{% extends "wallet/base.html" %}
{% block title %}Editar Actividad{% endblock %}

{% block content %}
<h2 style="text-align:center; color:#007bb5;">Editar Actividad</h2>

<div style="width:40%; margin:auto; background:#fff; padding:25px;
            border-radius:10px; box-shadow:0 3px 6px rgba(0,0,0,0.2);">

  <form method="POST">
    {% csrf_token %}

    <label>Título:</label>
    <input type="text" name="titulo" value="{{ actividad.titulo }}" required
           style="width:100%; padding:10px; margin-bottom:10px;">

    <label>Descripción:</label>
    <textarea name="descripcion" required
              style="width:100%; padding:10px; margin-bottom:10px;">{{ actividad.descripcion }}</textarea>

    <label>Fecha de entrega:</label>
    <input type="date" name="fecha" value="{{ actividad.fecha_entrega }}"
           style="width:100%; padding:10px; margin-bottom:10px;">

    <label>Recompensa (ALGOs):</label>
    <input type="number" min="0" name="recompensa" value="{{ actividad.recompensa }}"
           style="width:100%; padding:10px; margin-bottom:20px;">

    <button type="submit"
            style="background:#00a3e0; padding:12px; width:100%;
                   color:white; border:none; border-radius:5px;
                   font-weight:bold;">
      Guardar cambios
    </button>
  </form>

</div>
{% endblock %}
